@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

.user-sidebar {
  position: fixed;
  width: 15%;
  height: 100vh;
  background: #161b22;
  font-size: 0.70em;
  border-right: 0.3px solid #b4ba00 ;
  box-shadow: 2px 0 0.4em #ede293;
}

.user-side-nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 38%;
  transform: translateY(-50%);
  font-weight: bold;
  font-family: "Tomorrow";
}

.user-side-nav ul {
  list-style: none;

  li {
    position: relative;
    margin: 3.2em 0;

    span {
      line-height: 4em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(rgb(29, 179, 179), 0.65);
      display: block;
      transition: all ease-out 300ms;
    }

    &.active span {
      color: white;
    }

    &:not(.active)::after {
      opacity: 0.2;
    }

    &:not(.active):hover span {
      color: rgba(yellow, 0.85);
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #8060d2, #d05ca6);
    }
  }
}

.unfollow-button {
  width: 80px;
  height: 15px;
  font-size: 10px;
  background: linear-gradient(45deg, transparent 5%, #b4ba00 5%);
  border: 0;
  color: #000;
  letter-spacing: 3px;
  line-height: 10px;
  box-shadow: 6px 0px 0px #01578c;
  outline: transparent;
  position: relative;
  cursor: default;
  margin-top: 1em;
}