article {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  padding: 1em;
  

  .post-user-profile {
    display: flex;
    align-items: center;
  }
  
  .post-content {
    display: flex;
    justify-content: space-between;
  }

}