.player {
  background-color: #161b22;
  width: 85%;
  position: fixed;
  bottom: 0;
}


.rswp__toggle {
  background: transparent;
  color: yellow;
  box-shadow: none;
}

.__yf4nh5 > button {
  background: transparent;
  box-shadow: none;
}

.__19rmsjf > button {
  background: transparent;
  box-shadow: none;
}

.__12o5mxo button {
  background: transparent;
  box-shadow: none;
}